html,body,div,ul,p,dl,dt,dd,em,span {margin:0; padding:0; font-size:100%; vertical-align:baseline;}
html {font-size:15.6vw; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; *text-overflow:ellipsis; -webkit-tap-highlight-color:rgba(0,0,0,0);}
body {color:#000; background-color:#23232d; margin:0 auto; font-family:Helvetica, "STHeiti", "Heiti SC", "Droid Sans Fallback"; -webkit-font-smoothing:antialiased;}
a {outline:none; color:#000; text-decoration:none; -webkit-user-select:none; -webkit-user-drag:none; -webkit-tap-highlight-color:rgba(0,0,0,0);background-color: transparent;}
img {border:0; max-width:100%; display:block;}
li {list-style:none;}
i,em {font-style:normal;}
div,p {word-break:break-all; word-wrap:break-word;}
.clear:after {content:"."; display:block; height:0; clear:both; visibility:hidden; overflow:hidden;}
.clear {zoom:1;}
.hide {display:none;}
@media screen and (min-width:640px){
	html {font-size:100px;}
}

.browser_tips {position:fixed; width:100%; height:100%; background-color:rgba(0,0,0,0.8); top:0; left:0; z-index:999;}
.browser_tips img {width:3.57rem; float:right; margin:.2rem .2rem 0 0;}
#qrcode {position:absolute; width:1.5rem; top:-.01rem; left:-1.7rem; padding:.05rem; background-color:#fff; border:1px solid #e7e7e7; margin:auto; border-radius:.1rem; z-index:999;}
#qrcode div {font-size:.18rem; line-height:.3rem; margin-bottom:.05rem; color:#fff; background-color:#000; border-radius:.05rem;}

nav {position:fixed; width:100%; max-width:6.4rem; height:.7rem; background-color:rgba(201,26,49,0.9); font-size:.24rem; top:0; left:0; right:0; margin:auto; z-index:999;}
nav a {display:block; width:25%; line-height:.7rem; text-align:center; float:left; color:#fff;}
nav a.active {font-weight:bold; position:relative; background-color:#e92741;}
nav a.active:before {content: ''; width:100%; height: 0.03rem; background-color:#fff; position:absolute; bottom:0; left:0;}

.tips {display:none; position:fixed; width:100%; max-width:6.2rem; margin:auto; padding:.3rem 0; font-size:.22rem; animation:tips .7s; -webkit-animation:tips .7s; background:rgba(255,80,0,.9); bottom:1rem; left:0; right:0; border-radius:3px; color:#fff; text-align:center; z-index:9991;}
.tips.green {background:rgba(50,160,0,.9);}
.tips.orange {background:rgba(255,80,0,.9);}
.page_qr {width:1.8rem; background-color:#fff; padding:.1rem; position:fixed; top:0; left:50%; margin:.98rem 0 0 3.4rem; z-index:999; border-radius:.05rem;}
.page_qr div {font-size:.18rem; line-height:.3rem; margin-bottom:.05rem; color:#fff; background-color:#23232d; border-radius:.05rem; text-align:center;}

.main {margin:auto; background:url(http://103.59.113.14/static/image/head.jpg) center 0 #33333e no-repeat; background-size:6.4rem; max-width:640px; padding-top:1rem;}
.page_title {font-size:.18rem; color:#fcd750; text-align:center;}
.page_title span {margin-left:.1rem;}

.rec_list {width: 6rem; height: 3.16rem; padding-top: .3rem; margin: auto;}
.rec_list > a {width: 1.88rem; text-align: center; float: left; padding-top: .46rem;}
.rec_list > a > img  {width: 1.1rem; height: 1.1rem; margin: auto; border:.028rem solid #eb7383; border-radius:.3rem; box-sizing:border-box;}
.rec_list > a > .name {font-size: .22rem; color: #fff; padding-top: .26rem;}
.rec_list > a > .scoring {font-size: .15rem; color: #fdbaba; padding: .1rem 0;}
.rec_list > a > .btn {position:relative; width: 1.1rem; font-size: .18rem; height:.4rem;  line-height: .4rem;  text-align:center; margin: auto; border-radius: .3rem; color: #24242c; background-color: #fcd750;}
.rec_list > a.no1 {width: 2.24rem; padding-top: .06rem;}
.rec_list > a.no1 > img  {width: 1.28rem; height: 1.28rem; margin-bottom: .23rem;}

.nav {padding-left:.1rem;}
.nav li {width:1.42rem; height:.6rem; line-height:.6rem; font-size:.24rem; margin-top:.3rem; color:#fff; background-color:rgba(18,18,24,0.6); border-radius:.3rem; margin-left:.1rem; float:left; text-align:center;}
.nav li.active {background-color:#fff; color:#1f1f27;}
.hint {font-size:.14rem; margin-top:.3rem; color:#aeaebc; padding:0 .2rem; text-align:right;}
.hint span {color:#d21a32;}

.game_list {width:6rem; margin:0 auto;}
.game_list li {height:1.36rem; position:relative; font-size:.15rem; background-color:rgba(18,18,24,0.6); margin-top:.1rem;}
.game_list a {display:block; position:relative; height:1.36rem; padding:0 .2rem;}
.game_list .icon {width:1.18rem; height:1.16rem; padding:.2rem 0 0 .22rem; float:left; position:relative;}
.game_list .icon img {width:.96rem; height:.96rem;}
.game_list .icon .effects {position:absolute; display:block; width:.96rem; height:.96rem; top:.14rem; left:.22rem; z-index:98; border-radius:.2rem; mix-blend-mode: screen;}
.game_list .icon i {display:block; width:1.4rem; height:.31rem; background:url(http://103.59.113.14/static/image/main.png) 0 0 no-repeat; background-size:1.4rem; position:absolute; left:0; bottom:.15rem; z-index:99;}
.game_list .r2 i {background-position:0 -.41rem;}
.game_list .r3 i {background-position:0 -.82rem;}
.game_list .r1,.game_list .r2,.game_list .r3 {width:1.18rem; height:1.21rem; padding:.15rem 0 0 .22rem;}
.game_list .icon span {display:block; width:.32rem; height:.35rem; background:url(http://103.59.113.14/static/image/main.png) 0 -1.23rem no-repeat; background-size:1.4rem; position:absolute; left:.06rem; top:.15rem; color:#fff; font-size:.18rem; text-align:center; line-height:.3rem; z-index:99;}
.game_list dl {width:4.05rem; padding-left:.15rem; float:left;}
.game_list dl dt {font-size:.24rem; color:#fff; padding:.25rem 0 .05rem 0;}
.game_list dl dd {color:#aeaebc; height:.26rem; line-height:.26rem;}
.game_list dl b {font-style:normal; margin-right:.1rem;}
.game_list dl i {display:inline-block; padding:0 .07rem 0 .23rem; height:.21rem; margin-left:.1rem; box-sizing:border-box; border-radius:5px; font-size:.1rem; line-height:.21rem; border:.01rem solid #626273; background:url(../image/main.png) 0.08rem -1.66rem no-repeat; background-size:1.4rem;}
.game_list .zan {position:absolute; width:.8rem; height:.4rem; top:.78rem; left:2.9rem; z-index:999;}
.game_list .down_btn {position:absolute; display:block; width:1.1rem; height:.44rem; color:#24242c; text-align:center; font-size:.2rem; line-height:.45rem; background-color:#fcd750; border-radius:.3rem; top:.46rem; right:.2rem; z-index:999;}
.game_list .down_btn:hover {background-color:#786318;}

b.red {color:#ff324d;}
b.blue {color:#00ccff;}
b.green {color:#48ff00;}
b.orange {color:#ffc000;}

a.list_more {position:relative; display:block; margin:.2rem; font-size:.25rem; height:.55rem; line-height:.55rem; text-align:center; border:1px solid #d21a32; color:#d21a32;}
a.list_more:active {color:#fff; background-color:#d21a32;}

.foot {line-height:1rem; font-size:.16rem; text-align:center; color:#575762;}